.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode nav{
    background-color: rgb(222, 133, 133);
    /* color: white; */
}

.dark-mode section{
    background-color: rgb(12, 1, 1);
}

.dark-mode .bg-blue-100{
    background-color: rgb(176, 222, 181);
    color: white;
}

.dark-mode .bg-white{
    background-color: rgb(47, 159, 169);
}

.dark-mode .text-gray-700{
    color: white;
}
